@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}