html{
	scroll-behavior: smooth;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
}

.title{
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	padding: 30px 20px;
}
.btn {
	margin: 30px auto 0;
	position: relative;
	max-width: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 15px 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.4);
	background: #484848;
	letter-spacing: 2px;
	font-style: 16px;
	border: 3px solid transparent;
	transition: 0.5s;
	
	&:hover{
		color: rgba(255, 255, 255, 1);
		border-color: #2894ff;
	}
	
	
}

.page-section{
    min-height: 100vh;
	position: relative;
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}





